.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mydialog .MuiDialog-paperWidthSm{
width: 700px;
max-width: 1000px;
height: 1000px;
}

.dialogTitle{
  text-align: center !important;
  color: white;
  font-weight: bold;
  background-color: coral;
}

.activity{
  margin-right: 19%;
}

.activityCell{
  padding-left: 45% !important;
  flex-flow: nowrap;
  font-weight: bold;
}

.tableCols{
  font-weight: bold;
  padding-left: 33px !important;
}

.userbtn{
  background-color: cornsilk;
  width: 123px;
}

.userContent{
  padding: 36px 28px 23px !important;
}
.tableHeading{
  background-color: lightcoral;
  font-weight: bold;
  color: white;

    /* width: 80%; */
    display: table-caption;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
